
*{
  box-sizing: border-box;
}


$s-width: 100vw;
$s-height: 90vh;
.slides {
  border:1px solid red;
  background: grey;
  font-size: 40px;
  flex-direction: row;
  display: flex;
  width: 100vw;
  height: 90vh;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0px;
  overflow: hidden;

  span{
    // border: 1px solid blue;
    display: flex;
    width: $s-width;
    height: $s-height;
    justify-content: center;
    .cochi{
      background: black;
      display: flex;
      width: $s-width;
      height: $s-height;
      transition: all 1s;
      justify-content: space-between;
      overflow: hidden;
      padding: 0px 10px;
    }
  }
  .animated {
    transition: all .5s;
    position: absolute;
    transform: translate(0%, 0%);
  }

  .slide-in {
    opacity: 0;
    transform: translate(0%, 0%);
  }

  .slide-in-active {
    transition-delay: 150ms;
  }

  .slide-out {
    opacity: 1;
  }

  .slide-out-active-left {
    opacity: 0;
    transform: translate(-100%, 0%);
  }

  .slide-out-active-right {
    opacity: 0;
    transform: translate(100%, 0%);
  }
}



.card{
  // border: 1px solid red;
  background: #444;
  color:#ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 100%;
  overflow: hidden;
}
